// Variables
$box: border-box;
$none: none;
$auto: auto;
$grid: grid;
$cntr: center;
$flex: flex;
$solidbrd: solid;
$easy: ease-in-out;
$font: Cambria, Georgia;
$hid: hidden;
$inlineblock: inline-block;
$borderColor: border-color;
$webshadow: -webkit-box-shadow;

// Selectors
$selectorMap: (
  global: "*",
  globalImg: "img",
  body: "body",
  link: "a",
  div: "div",
  txtArea: "textarea",
  input: "input",
  h1: "h1",
  h3: "h3",
  para: "p",
  line: "hr",
  wrapper: "#container",
  green: ".green",
  err: ".error",
  header: ".header",
  logoBild: "#logobild",
  menu: ".meny",
  main: ".main",
  left: ".left",
  left2: ".left2",
  center: ".center",
  right: ".right",
  right2: ".right2",
  contactMain: ".contactmain",
  contactBtn: ".contactbtn",
  dangerBtn: ".dangerbtn",
  loginMain: ".loginmain",
  loginBtn: ".loginbtn",
  changeMain: ".changemain",
  addMain: ".addmain",
  btn: ".btn",
  row: ".row",
  btnRow: ".btnrow",
  studyLink: ".studylink",
  pageLink: ".pagelink",
  centerIt: ".centerit",
  footer: ".footer",
);

$colors: (
  darkBlue: #00008b,
  white: #fff,
  red: #ff0000,
  black: #000,
);

// Functions
@function color($val) {
  @return map-get($colors, $val);
}
