#{map-get($selectorMap, menu)} {
  a {
    display: $inlineblock;
    font-size: 18px;
    -webkit-text-decoration: $none;
    text-decoration: $none;
    color: #f50000;
    padding: 40px;
    font-weight: 700;
  }
}

@media screen and (max-width: $media) {
  #{map-get($selectorMap, menu)} {
    #{map-get($selectorMap, link)} {
      display: $inlineblock;
      padding: 10px;
      border-right: 1px $solidbrd color(black);
    }
    margin: 0 10px 0 10px;
    border: 1px $solidbrd color(black);
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: $cntr;

    #{map-get($selectorMap, link)} :nth-child(3) {
      border: $none;
      padding-right: 40px;
    }
  }
}
