#{map-get($selectorMap, global)} {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: $none;
  outline: 0;
  -webkit-box-sizing: $box;
  box-sizing: $box;
}

#{map-get($selectorMap, globalImg)} {
  width: 100%;
  max-width: 100%;
  height: $auto;
}
