input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
#{map-get($selectorMap, txtArea)} {
  display: $block;
  margin-bottom: 10px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: color(white);
  background-clip: $paddingBox;
  border: 1px $solidbrd #ced4da;
  -webkit-appearance: $none;
  -moz-appearance: $none;
  appearance: $none;
  border-radius: 0.25rem;
  -webkit-transition: $borderColor 0.15s $easy, $webshadow 0.15s $easy;
  transition: $borderColor 0.15s $easy, $webshadow 0.15s $easy;
  -o-transition: $borderColor 0.15s $easy, $webshadow 0.15s $easy;
}

#{map-get($selectorMap, input)} :focus,
#{map-get($selectorMap, txtArea)} :focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#{map-get($selectorMap, contactBtn)} {
  padding: 10px;
  background: color(darkBlue);
  color: color(white);
  display: $flex;
  margin: 0 $auto;
}

#{map-get($selectorMap, dangerBtn)} {
  background: color(red);
  padding: 10px;
  color: color(white);
  display: $flex;
  margin: 0 $auto;
}

#{map-get($selectorMap, loginBtn)} {
  padding: 10px;
  background: color(darkBlue);
  color: color(white);
  display: $flex;
  margin: 0 $auto;
}

#{map-get($selectorMap, btn)} {
  padding: 10px;
  background: color(darkBlue);
  color: color(white);
  display: $flex;
  margin: 0 $auto;
}

#{map-get($selectorMap, btnRow)} {
  display: $grid;
  grid-template-columns: 50% 30%;
}
