#{map-get($selectorMap, link)} {
  -webkit-text-decoration: $none;
  text-decoration: $none;
}

#{map-get($selectorMap, studyLink)} {
  margin-left: 38%;
  font-size: 20px;
}

#{map-get($selectorMap, pageLink)} {
  margin-left: 40px;
  font-size: 20px;
}

@media screen and (max-width: $media) {
  #{map-get($selectorMap, pageLink)} {
    font-size: 20px;
    margin-left: 20%;
  }

  #{map-get($selectorMap, studyLink)} {
    margin-left: 5%;
    font-size: 20px;
  }
}
