#{map-get($selectorMap, addMain)} {
  display: $grid;
  grid-template-columns: 1fr;
  -webkit-box-align: $cntr;
  -ms-flex-align: $cntr;
  align-items: $cntr;
  justify-items: $cntr;
  #{map-get($selectorMap, h1)},
  #{map-get($selectorMap, para)} {
    text-align: $cntr;
    margin: 10px;
  }
}
