#{map-get($selectorMap, contactMain)} {
  display: $grid;
  grid-template-columns: 1fr;
  -webkit-box-align: $cntr;
  -ms-flex-align: $cntr;
  align-items: $cntr;
  justify-items: $cntr;
  h3,
  p {
    text-align: $cntr;
    margin: 10px;
  }
}
